
*.aux

ubicomp13/abstract/.DS_Store

bare_conf.pdf

*.out

*.gz

*.log

*.bbl

*.blg

*.zip

*.ps

*.xdv

.DS_Store

BringingCOP/.DS_Store

ubicomp13/abstract/poster_abstract.pdf

ubicomp13/abstract/ubicomp.pdf

ubicomp13/poster/ConesC.pdf

nier14conesc/paper.pdf

[IPSN14]PhDForum/paper.pdf

[IPSN14]PhDForum/paper.pdf

[IPSN14]PhDForum/paper.pdf

[IPSN14]PhDForum/paper.pdf
